@import 'fonts.css';

body{

   
   height: 2000;
   font-family: 'OpenSans-Semibold';
}
.menu-bar{
   background-color:white;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   
  
   width: 100%;
   margin: 0 auto;
}
.menu-bar>.container{
   display:flex;

}
.menu__spisok{
   display: flex;
   
   text-align: center;
   padding-top: 20px;
}
.logo{
   padding-left: 100px;
   width: 170px;
   height: 120px;
}
.menu__item{
   list-style-type: none;
   
}
.menu__item a{
  
   color:black ;
   padding-left: 35px;
   font-size: 25px;
   justify-content: space-between;
   text-align: center;
   text-decoration: none;

}
.menu__nav{
   padding-left: 160px;
}
/* HEADER */
.header{
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.header>.container {
   max-height: 900px;
   height: 100%;
   background-image:url('/img/big.jpg');
   background-size:cover;
   background-position:center center;
}
.header__row{
   padding-top: 130px;
   padding-bottom: 180px;
   padding-left: 30px;
   text-align: start;
   color:white;
   position: relative;
   bottom: -100px;


}
.header__text {
   font-size: 25px;  
}
.header__button{
   font-size: 17px;
   padding: 15px 20px;
   border:2px solid rgb(27, 157, 150);
   background-color:rgb(27, 157, 150);
}
.header__button:hover{
   border:2px solid rgb(6, 87, 83);
   background-color:rgb(6, 87, 83);
}






/* Tabs */
.tabs_section{
   padding-top: 60px;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.img_jun{
   width: 700px;
   height: 400px;
   border-radius: 5%;
}
.tabs_section>.container{
   padding-top: 70px;
   display: flex;
}
.tabs__list{
   display: flex;
}
.tabs__h1{
   text-align: center   ;
   font-size: 37px;
}
.tabs__text_p{
   font-size: 24px;
}
.tabs__list__item{
   font-size: 30px;
   padding-left: 110px;
   list-style-type: none;
   
}
.tabs__list__item:hover{
   color:rgb(15, 148, 61);
}